/node_modules
/server/uploads
/server/node_modules
/server/.env

/client/node_modules
/client/build
/client/.env

/Docs

*.pdf
*.doc
*.docx
*.txt
*.zip
*.rar
*.7z
project_report.html
documentation.html
Learnify_Project_Documentation.md
Learnify_Project_Documentation.pdf
bind_docs.js